ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:#E4EEF6;border-width:0px;border-style:solid;border-color:#5f5f5f;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
	
		/*FONDO ITEMS MENU PRINCIPAL*/
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:bold 14px Trebuchet MS;color:#000000;text-shadow:#FFF 0 0 1px;cursor:pointer;padding:10px;background-color:#eb9721;background-image:url("../img/mainbk.png");background-repeat:repeat;background-position:0 0;border-width:0 0 0 1px;border-style:solid;border-color:#C0C0C0;}
	/**/
	
	
	/* FONDO SUBMENU*/
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;-moz-box-shadow:3.5px 3.5px 5px #000000;-webkit-box-shadow:3.5px 3.5px 5px #000000;box-shadow:3.5px 3.5px 5px #000000;padding:0 10px 10px;background-color:#ffd261;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;border-color:#ffd261;border-width:1px;}
	/**/
	
	
		/*FONDO A (LI) SUBMENU*/
ul#css3menu1 ul a{
	text-align:left;padding:1px;background-color:#ffd261;background-image:none;border-width:0;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font:14px Tahoma;color:#333333;text-decoration:none;}
	/**/
	
	
	/*FONDO SUBMENU TERCIARIO*/
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:0;background-color: #ffdb8c;border-width:1px;border-style:solid;border-color:#d4d4d4;}
	/**/
	
	
	/*FONDO A (LI) MENU TERCIARIO*/
	ul#css3menu1 ul li ul a{
	background-color:#ffdb8c
	}
	
	/*FONDO LI MENU TERCIARIO HOVER */
	ul#css3menu1 ul li ul li:hover>a{
	background-color:#ffdb8c;}	
	

/*FONDO HOVER SUBMENU LI*/
ul#css3menu1 ul li:hover>a{
	background-color:#ffd261;background-image:none;font:14px Tahoma;color:#00007f;text-decoration:underline;}	
	
	
	
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li:hover{
	position:relative;}
	
	
	
	
	
ul#css3menu1{
	display:block;font-size:0;float:left;}
ul#css3menu1 li{
	display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1>li,ul#css3menu1 li{
	margin:0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
	
	

	
ul#css3menu1 ul li{
	float:none;margin:10px 0 0;background-color: #eb9721}
	

	
ul#css3menu1 li:hover>a{
	background-color:#000000;border-color:#E4EEF6;border-style:solid;font:bold 14px Trebuchet MS;color:#ffffff;text-decoration:none;text-shadow:#FFF 0 0 1px;background-image:url("../img/mainbk.png");background-position:0 100px;}
ul#css3menu1 img{
	border:none;vertical-align:middle;margin-right:10px;}
ul#css3menu1 img.over{
	display:none;}
ul#css3menu1 li:hover > a img.def{
	display:none;}
ul#css3menu1 li:hover > a img.over{
	display:inline;}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu1 ul span{
	background-image:url("../img/arrowsub.png");padding-right:20px;}
	
	
	
	
	
ul#css3menu1 li.topfirst>a{
	height:20px;line-height:20px;border-radius:5px 0 0 5px;-moz-border-radius:5px 0 0 5px;-webkit-border-radius:5px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;}
ul#css3menu1 li.topfirst:hover>a{
	line-height:20px;}
ul#css3menu1 li.topmenu>a{
	height:20px;line-height:20px;}
ul#css3menu1 li.topmenu:hover>a{
	line-height:20px;}
ul#css3menu1 li.toplast>a{
	height:20px;line-height:20px;border-radius:0 5px 5px 0;-moz-border-radius:0 5px 5px 0;-webkit-border-radius:0;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;}
ul#css3menu1 li.toplast:hover>a{
	line-height:20px;}
