.headMenu{
    width: 100%;
    background-color: #dfd9c3; 
}

#cssmenu{
    clear: both;  
    min-height: 50px; 
    /*background-color: #dfd9c3; */
    border: 5px; 
    border-color: red;	
}

/** Estilos menú sma **/

.colorInstitucional{
    background-color: #dfd9c3;   
}

#tblSmaHeader {
    width: 100%;
    background-color: #dfd9c3;    
}
#tblSmaFooter {
    width: 100%;
    background-color: #dfd9c3;    
}

